.merch-page-night-mode {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(30, 21, 52);
}

.merch-page-day-mode {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #10A5F9;
}

@media(max-width: 720px) {
    .merch-page {
        padding-top: 10vh;
        height: 100%;
        flex-direction: column;
    }
}

.merch__preview {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch__form {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}