a:link,
a:active,
a:visited {
  color: rgba(255, 255, 255, 1);
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.caption{
  margin-bottom: 200px;
}
.gray {
  color: #a5a5a5;
}

.team {
  margin: 40px;
}

.team-member {
  margin: 15px 0;
  padding: 0;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
}

.team-member figcaption {
  padding: 20px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, 0.97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.team-member figure img {
  width: 100%;
}
.team {
  margin-bottom: 0;
}
.buttonx {
  display: inline-block;
  margin: 0.3em;
  padding: 0.8em 1.3em;
  width: 10em;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 1em;
}
.button-gold {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow: 2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid #deca73;
  background: -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background: -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background: -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background: linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
}

.button-silver {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #cacade;
  background: -moz-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background: -webkit-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background: -o-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background: linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
}

.button-normal {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  border: 1px solid #cacade;
  background: whitesmoke;
}


/*===============================hover effect gold v2============================================*/
.image-box-gold:hover{
  border: 1px solid;
  z-index: 100px;
}
.gold-member:hover{
  margin-top: 50px;
}
.gold-wrapper figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background-color: rgb(245, 245, 47);

  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*=====================================gold wrapper v2======================================*/
.gold-coin{
  position: absolute;
  left:43%;
  height: 200px;
  width:200px;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border:2px solid gold;
  margin: auto;
  background: -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background: -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
    );
    background: -o-linear-gradient(
      -72deg,
      #ffde45,
      #ffffff 16%,
      #ffde45 21%,
      #ffffff 24%,
      #452100 27%,
      #ffde45 36%,
      #ffffff 45%,
      #ffffff 60%,
      #ffde45 72%,
      #ffffff 80%,
      #ffde45 84%,
    #452100
    );
    background: linear-gradient(
      -72deg,
      #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
    );
  }
  .gold-head{
  margin-top: -8%;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffde45;
  text-align: center;
  margin-bottom: 10px;
  z-index: -30px;
}
.gold-text{
  margin-top: 35%;
  font-size: 40px;
  font-weight: 0.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 768px){
  .gold-coin{
    height: 70px;
    width:70px;
    left:38%;
  }
  .gold-text{
    font-size: 15px;
  }
  .gold-head{
    margin-bottom: 50px;
  }
}
.gold-wrapper{
  justify-content: space-around;
  box-shadow: 2px 2px 20px 20px gold;
  
}
.gold-member{
  margin-right: 10px;
  margin-top: 30px;
}
.gold-space-around{
  justify-content: space-around;
}

/*===============================siver hover v2============================================*/
.image-box-silver:hover{
  border: 1px solid;
  z-index: 100px;
}

.silver-wrapper figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background-color: silver;

  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*===============================siver hover v2============================================*/
.silver-coin{
  position: absolute;
  left:43%;
  height: 200px;
  width:200px;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border:2px solid silver;
  margin: auto;
  background: -moz-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background: -webkit-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background: -o-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  background: linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
}
  .silver-head{
  margin-top: -8%;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  color: silver;
  text-align: center;
  margin-bottom: 10px;
  z-index: -30px;
}
.silver-text{
  margin-top: 35%;
  font-size: 40px;
  font-weight: 0.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 768px){
  .silver-coin{
    height: 70px;
    width:70px;
    left:38%;
  }
  .silver-text{
    font-size: 15px;
  }
  .silver-head{
    margin-bottom: 30px;
  }
  
}
.silver-wrapper{
  margin-top: 300px;
  justify-content: space-around;
  box-shadow: 2px 2px 20px 20px silver;
  
}
.silver-member{
  margin-right: 10px;
  margin-top: 50px;
}
.sponser-name-silver{
    margin: 30px 0 20px 0;
    font-weight: 400px;
    letter-spacing:1px;
    color:silver;
}
/*======================================other wrapper hover=========================*/
.other-member:hover{
  margin-top: 50px;
}

.other-wrapper figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background-color: whitesmoke;
  
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*======================================other wrapper=========================*/
.other-wrapper{
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: space-around;
  box-shadow: 2px 2px 20px 20px whitesmoke;
}
.other-member{
  margin-right: 10px;
  margin-top: 30px;
}

.other-coin{
position: absolute;
left:43%;
height: 200px;
width:200px;
justify-content: center;
text-align: center;
border-radius: 50%;
border:2px solid whitesmoke;
margin: auto;
background: -moz-linear-gradient(
  -72deg,
  #dedeff,
  #ffffff 16%,
  #dedeff 21%,
  #ffffff 24%,
  #555564 27%,
  #dedeff 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedeff 72%,
  #ffffff 80%,
  #dedeff 84%,
  #555564
);
background: -webkit-linear-gradient(
  -72deg,
  #dedeff,
  #ffffff 16%,
  #dedeff 21%,
  #ffffff 24%,
  #555564 27%,
  #dedeff 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedeff 72%,
  #ffffff 80%,
  #dedeff 84%,
  #555564
);
background: -o-linear-gradient(
  -72deg,
  #dedeff,
  #ffffff 16%,
  #dedeff 21%,
  #ffffff 24%,
  #555564 27%,
  #dedeff 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedeff 72%,
  #ffffff 80%,
  #dedeff 84%,
  #555564
);
background: linear-gradient(
  -72deg,
  #dedeff,
  #ffffff 16%,
  #dedeff 21%,
  #ffffff 24%,
  #555564 27%,
  #dedeff 36%,
  #ffffff 45%,
  #ffffff 60%,
  #dedeff 72%,
  #ffffff 80%,
  #dedeff 84%,
  #555564
);
}
.other-head{
margin-top: -8%;
justify-content: center;
text-align: center;
letter-spacing: 2px;
color: whitesmoke;
text-align: center;
margin-bottom: 10px;
z-index: -30px;
}
.other-text{
margin-top: 35%;
font-size: 40px;
font-weight: 0.5rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.other-space-around{
  justify-content: space-around;
}

@media only screen and (max-width: 768px){
  .other-coin{
    height: 70px;
    width:70px;
    left:38%;
  }
  .other-text{
    font-size: 15px;
  }
  .other-head{
    margin-bottom: 50px;
  }
}
.other-wrapper{
margin-top: 300px;
justify-content: space-around;
box-shadow: 2px 2px 20px 20px whitesmoke;

}
.other-member{
margin-right: 10px;
margin-top: 30px;
}
.sponser-name-other{
  margin: 30px 0 20px 0;
  font-weight: 400px;
  letter-spacing:1px;
  color: whitesmoke;
}
.other-btn{
  z-index: 100px;
  color: whitesmoke;
}

/*===============================image1=========================*/
.image1{
  z-index: 100px;
  margin-bottom: 150px;
}
/*===============================sponser heading=========================*/
.sponser-heading{
  font-weight: 400px;
  letter-spacing:1px;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.sponser-head{
  font-weight: 300px;
  letter-spacing:1px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


.header-texts{
  margin-top: 10%;
}

@media only screen and (max-width: 768px){
  .sponser-heading{
    font-weight: 200px;
    letter-spacing:1px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

  }
  .sponser-head{
    font-weight: 200px;
    letter-spacing:1px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

  }
  .image1{
    height: 300px;
  }
  .header-texts{
    margin-top: 30%;
  }
}