@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
.nav-whole{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.animate-nav{
    width: 100vw;
    height: 100vh;
    background-color:black;
    display: grid;
    justify-content: center;
    align-items: center;
    clip-path: circle(100%);
    transition: all 2s ease-in-out;
}


.nav-cont-whole{
    height:100vh;
    width:100vw;
    transition: all 3s ease-in-out;
    background-color: red;
    clip-path: circle(30px at 96% -20%);
    overflow: hidden;
    z-index: 25;
}

.animate-drop{
    height:100vh;
    width:100vw;
    transition: all 3s ease-in-out;
    background-color: black;
    clip-path: circle(10000px at 96% 10%); 
    z-index: 2;
    overflow: hidden;
}

.animated-row{
    position: relative;
    height: 50vh;
    top:25%;
}

.img-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box{
    width:350px;
    height: 100%;
    background-color: orange;
}

.cont-col-phone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list{

    margin: 25px 0;
    display: flex;
}

.heading-no{
    color: white;
}

.list-item{
    font-size: 35px;
    letter-spacing: 5px;
    position: relative;
    left:7px;
    font-family: 'Yeon Sung', cursive;
    text-align: center;
  color: white;
  cursor: pointer;
}

.cont-list-phone{
    display: grid;
    justify-content: center;
    align-items: center;
}