@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.faqs-screen {
  font-family: 'Paytone One', sans-serif;
}

.faq-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.faq-header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.faq-search {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.faq-ask {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media(max-width: 630px) {
  .faq-bar {
    flex-direction: column;
  }
  .faq-header {
    justify-content: center;
  }
  .faq-ask {
    justify-content: flex-start;
    padding: 10px 0;
  }
}

.faq-ask-btn {
  cursor: pointer;
}

.faq-ask-btn:hover {
  opacity: 0.7;
}

.search-box {
  width: 100%;
}

.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  /* background: red; */
  border-radius: 10px;
  /* color: #eee; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  color: #212529;
  transition: all 0.4s ease;
  text-align: left;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url("./arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
  text-align: left;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
.bcgrnd {
  /* background: #1e1534; */
  background: -moz-linear-gradient(left, #0f0c29 0%, #302b63, #24243e 100%);
  background: -webkit-linear-gradient(left, #0f0c29 0%, #302b63, #24243e 100%);
  /* background-image: url("./faq1.jpg"); */
  /* position: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  /* z-index: ; */
}