.year-2018-mobile {
  width: 100%;
  height: 150vh;
  color: white;
  padding: 0;
}

.year-2018-mobile.day-mode {
  background-color: #26e0fc;
}

.year-2018-mobile.night-mode {
  background-color: #1e1534;
}
