*{margin:0;padding: 0;}
.button-info{
    color: red;
    font-size: 20px;
    opacity: 0;
}

.button-2020{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

.button-2019{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

.button-2018{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex; 
}

.button-2017{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

.button-2016{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex; 
}

.button-bar{
    width:25px;
    border-radius: 27px;
    height:5px;
    background: white;
    position: relative;
    bottom:9px;
}

.button-mg{
    margin: 12px;
}

.button-2020:hover .button-info{
    opacity: 1;
 
}

.button-2019:hover .button-info{
    opacity: 1;
}

.button-2018:hover .button-info{
    opacity: 1;
}

.button-2017:hover .button-info{
    opacity: 1;
}

.button-2016:hover .button-info{
    opacity: 1;
}

.activebutton{
    width:40px;
    border-radius: 27px;
    height:5px;
    background: pink;
    position: relative;
    bottom:9px;
}

.hamburger-whole{
    position: absolute;
    right:0;
    top:40%;
}