.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  transform: scale(1);
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  border-radius: 2rem;
}
.menu-item.active {
  font-size: 2rem;
  color: #fff;
  transition-duration: 0.2s;
}
  
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.YearsBar {
  margin-top: 7rem;
}
  
    